h1.hero {
  color: $white;
  font-size: 3.25rem;
  text-shadow: 0 -1px 16px rgba(0, 0, 0, 0.65);
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 0.5px;

  @include media-breakpoint-up(md) {
    font-size: 5.5rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 8rem;
  }
}

h2.hero {
  color: $white;
  font-family: "Rock Salt", serif;
  font-size: 0.875rem;
  text-shadow: 0 -1px 16px rgba(0, 0, 0, 0.65);
  text-align: center;
  text-transform: capitalize;
  line-height: 1.5;
  max-width: 225px;

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
    max-width: 380px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.85rem;
    max-width: unset;
  }
}

.hero-container {
  @include clip($bottom: "down", $size: "large");

  background-color: #212529;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  margin-bottom: -5vw;
  min-height: 500px;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    min-height: 600px;
  }

  @include media-breakpoint-up(lg) {
    min-height: 700px;
  }
}

video.hero-bg-video {
  object-fit: cover;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero-opacity {
  @include row-opacity($black, 0.35);

  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.hero-row {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hero-play svg {
  fill: currentColor;
  height: 1.25rem;
  vertical-align: sub;
}

.hero-modal {
  .modal-content,
  .modal-header,
  .modal-body {
    background-color: transparent;
  }
}

.hero-modal-close {
  min-width: unset;
  padding-left: 15px;
  padding-right: 15px;

  &:hover {
    border-color: #000;
  }
}
