.clip-top-up {
  clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0 100%);
}

.clip-top-down {
  clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
}

.clip-bottom-up {
  clip-path: polygon(0 0, 100% 0%, 100% 92%, 0 100%);
}

.clip-bottom-down {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 92%);
}
